html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  @extend %font-prim;
  background-color: $color-background;
  color: $color-text;
  overflow-x: hidden;
}

h1 {
  @extend %font-add;
  @include font(6rem);
  @include media-tablet {
    @include font(3.2rem, $weight:normal);
  }
}

h2 {
  @extend %font-add;
  @include font(4rem);
  text-align: center;
  color: $color-primary;
  @include media-tablet {
    @include font(3.2rem);
  }
  @include media-mobile-big {
    @include font(2.6rem);
  }
  
}

h3 {
  @extend %font-add;
  @include font(2.8rem);
  text-align: center;
  margin: 40px 0 0 0;
  @include media-tablet {
    margin: 40px 0 0 0;
  }
  @include media-mobile-big {
    @include font(2.2rem);
  }
}

h4 {
  @include font(2rem);
  text-align: center;
  margin: 29px 0 20px 0;
  @include media-tablet {
    margin: 0;
    padding:  12px 0 21px 0;
  }
  @include media-mobile-big {
    @include font(1.8rem);
  }
}

h5 {
  @extend %font-add;
  @include font(2.4rem);
  text-align: center;
  color: $color-primary;
  margin: 20px 0 10px 0;
  @include media-tablet {
    margin: 15px 0 5px 0;
  }
  @include media-mobile-big {
    @include font(2rem, $height: 10px);
  }
}

.mainshadow {
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  @extend %transition;
}

.shadow.open .mainshadow1 {
  display: block;
  @extend %transition;
}




