html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

h1 {
  @extend %font-add;
  @include font(6rem);
}

h2 {
  @extend %font-add;
  @include font(4rem);
  text-align: center;
  color: $color-primary;
}

h3 {
  @extend %font-add;
  @include font(2.8rem);
  text-align: center;
  margin-bottom: 0;
  margin-top: 40px;
}

h4 {
  @include font(2rem);
  text-align: center;
}

h5 {
  @extend %font-add;
  @include font(2.4rem);
  text-align: center;
  color: $color-primary;
  margin-top: 20px;
  margin-bottom: 10px;
}





