.lang__button {
  background-color: transparent;
  border-style: none;
  @include font(2rem);
  text-align: center;
  cursor: pointer;
  display: flex;
  padding: 0;
  @extend %transition;
  &:hover {
    color: $color-primary;
    @extend %transition;
  }
}

.button__slash {
  @include font(2rem);
}
.common {
  color: $color-text;
}
.active {
  color: $color-primary;
}

.theme__button__wrapper {
    padding: 10px 0 0 20px;
    @include media-tablet {
    padding: 10px 15px 0 0;
   }
   @include media-mobile-small {
    padding: 10px 10px 0 0;
   }
}

.theme__button {
  height: 50px;
  width: 50px;
  display: inline-block;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url("../assets/svg/sun.svg");
  @extend %transition;
  cursor: pointer;

  &:hover{
    @extend %color_filter;
    @extend %transition;
  }
  
}

.button {
  overflow: hidden;
  position: relative;
  padding: 6px 0 8px 0;
  @extend %font-prim;
  @include font(2rem, $weight: normal);
  text-align: center;
  width: 220px;
  height: 55px;
  cursor: pointer;
  &_bordered {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
    @extend %transition;
    &:hover {
      color: $color-text;
      @extend %transition;
    }
  }
  &_colored {
    background-color: $color-primary;
    border: 2px solid $color-primary; 
    @extend %transition;
    &:hover {
      color: $color-text;
      @extend %transition;
    }
  }
  @include media-content {
    margin-bottom: 5px;
  }
  @include media-tablet {
    margin-bottom: 5px;
  }
  @include media-mobile-big {
    width: 160px;
    height: 50px;
    line-height: 25px;
    @include font(1.6rem, $weight: normal);
  }
}
button {
  position: relative;
  overflow: hidden;
}
button:focus {
  outline: none;
}

button .circle {
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.slide:hover, .slide:focus{
	box-shadow: inset 12em 0 0 0 $color-primary;
  transition: ease-in-out 0.5s;
}

