.footer__wrapper {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 0 0;
    @include media-tablet {
        max-width: 768px;
        flex-direction: column;
        padding: 30px 0;
    }
    @include media-mobile-big {
        justify-content: space-around;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 188px;
    justify-content: space-between;
    padding: 2px 0 0 0;
}

.footer__github {
    font-size: 19px;
    span {
        padding-right: 17px;
        
    }
    @include media-tablet {
        padding-left: 11px;
        font-size: 20px;
    }
    @include media-mobile-big {
        text-align: center;
        font-size: 16px;
    }
}

.footer_RSS {
    font-size: 20px;
    @include media-tablet {
        padding: 17px 2px 11px 0;
    }
    @include media-mobile-big {
        text-align: center;
        font-size: 16px;
    }
}