.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

.header__lang__change{
  margin: 0;
}


