.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2px;
  overflow-x: hidden;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.header__lang__change{
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 70px;
  @include media-tablet {
    width: 82px;
    margin-right: 23px;
  }
}


