.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.navigation {
  display: flex;
  font-size: 2rem;
  line-height: 5rem;
  margin: 0;
  max-width: 500px;
}

.navigation__link {
  list-style: none;
  cursor: pointer;
  padding-right: 30px;
}

.header__lang__change{
  margin: 0;
}

a {
  color: $color-text;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

a:hover {
  color: $color-primary;
  transition: all 0.3s;
  cursor: pointer;
}
