.main__wrapper {
  background: url(../assets/img/bg.jpg) top center;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  background-size: cover;
  @include media-tablet {
    background: url(../assets/img/bg-tablet.jpg) top center;
    background-repeat: no-repeat;
  }
}

.hero__content {
  padding: 108px 0 330px 60px;
  @include media-tablet {
    padding: 27px 0 148px 0;
  }
}

.hero__title {
  margin: 0;
  padding: 51px 0 10px;
  @include media-tablet {
    padding: 51px 0 20px;
  }
}

.hero__description {
  font-size: 2rem;
  line-height: 4rem;
  max-width: 470px;
  margin: 0;
  padding-bottom: 25px;
  @include media-tablet {
    max-width: 390px;
    line-height: 2.4rem;
    padding-bottom: 60px;
  }
}
