.skills__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 30px;
}

.skill {
  max-width: 320px;
  text-align: center;
  p {
    max-width: 280px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 12px;
  }
}
