.skills__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 28px;
  @include media-tablet {
    width: 100%;
    padding-bottom: 8px;
  }
}

.skill {
  width: 20.5%;
  text-align: center;
  p {
    max-width: 280px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 12px;
    @include media-tablet {
      line-height: 22px;
      margin: 0 auto;
    }
  }
  @include media-tablet {
    width: 300px;
    padding-bottom: 74px;
  }
}
