.navigation {
    display: flex;
    font-size: 2rem;
    line-height: 5rem;
    margin: 0 5px 0 0 ;
    width: 505px;
  }
  
  .navigation__link {
    list-style: none;
    cursor: pointer;
    padding-right: 31px;
  }

  a {
    color: $color-text;
    text-decoration: none;
    @extend %transition;
    cursor: pointer;
    &:hover {
        color: $color-primary;
        @extend %transition;
        cursor: pointer;
    }
  }
  